* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Tipografías generales */

.brand-name {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 800;
}

.section-heading {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section-subheading {
  color: #666;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.section-description {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

/* Header: lo estilo al final */

.header {
  display: none;
}

/* Estilos de la sección de presentación */

.introduction-section {
  align-items: center;
  background-image: url(/images/feathers.jpg);
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.introduction-text-container {
  max-width: 800px;
  text-align: center;
}

.introduction-phrase {
  color: #1d1d1d;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 20px;
}

.introduction-description {
  color: #1d1d1d;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 60px;
}

.cta {
  background-color: #1006ff;
  border-radius: 100px;
  color: #fff;
  letter-spacing: 1px;
  padding: 16px 48px;
  text-decoration: none;
}

/* cta en hover */

.cta:hover {
  background-color: #3830ff;
}

/* cta en focus */

.cta:focus {
  background-color: #0b03d8;
  box-shadow: 0px 0px 6px #1006ff;
}

/* Estilos de la sección quiénes somos */

.about-section {
  align-items: center;
  background-color: #f3f7f8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.about-text-container {
  padding: 60px;
  width: 50%;
}

.about-image-container {
  width: 50%;
}

.about-image-1 {
  top: 50px;
  position: relative;
}

.about-image-2 {
  position: relative;
  left: 130px;
  bottom: 50px;
}

/* Estilos de la sección de productos */

.products-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

.products-text-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.products-cta {
  color: #1d1d1d;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 16px;
  text-decoration: none;
}

/* cta en hover */

.products-cta:hover {
  color: #1006ff;
}

/* cta en focus */

.products-cta:focus {
  box-shadow: 0px 0px 6px #1006ff;
}

.product-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.featured-product {
  background-color: #f4f4f4;
  margin: 10px 0;
  height: 560px;
  width: 50%;
}

.featured-product-name {
  color: #1006ff;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  position: relative;
  top: 470px;
}

.featured-product-price {
  color: #666;
  font-size: 14px;
  left: 20px;
  position: relative;
  top: 475px;
}

.other-products {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.product {
  background-color: #f4f4f4;
  height: 270px;
  margin: 10px;
  width: calc(100% / 2 - (10px * 2));
}

.product-name {
  color: #1006ff;
  font-size: 18px;
  font-weight: 400;
  left: 20px;
  position: relative;
  top: 185px;
}

.product-price {
  color: #666;
  font-size: 14px;
  left: 20px;
  position: relative;
  top: 190px;
}

/* Estilos de la sección de "Nippy en números" */

.numbers-section {
  align-items: center;
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
  text-align: center;
}

.number-container {
  margin: 20px 10px;
}

.number-heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.number {
  font-size: 36px;
}

/* Estilos de la sección de contacto */

.contact-section {
  display: flex;
  flex-wrap: wrap;
}

.image-replacement {
  background-color: #f4f4f4;
  width: 50%;
}

.contact-text-container {
  padding: 160px 80px;
  width: 50%;
}

.contact-form {
  padding-top: 40px;
}

.form-control {
  border: 1px solid #1d1d1d;
  border-radius: 100px 0 0 100px;
  padding: 16px 32px;
}

.submit-button {
  background-color: #1006ff;
  border: 1px solid #1006ff;
  border-radius: 0 100px 100px 0;
  color: #fff;
  letter-spacing: 1px;
  padding: 16px 32px;
}
