html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Tipografías generales */

.brand-name {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 800;
}

.section-heading {
  color: #1d1d1d;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section-subheading {
  color: #666;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.section-description {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

/* Estilos del header */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px;
  width: 100%;
}

.menu-items-list {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  list-style-type: none;
  margin: 0 10px;
}

.menu-link {
  color: #333;
  padding: 10px;
  text-decoration: none;
}

/* Links del menu en hover */

.menu-link:hover {
  border-bottom: 1px solid #333;
}

/* Links del menu en focus */

.menu-link:focus {
  border: #333;
  border-radius: 100px;
  box-shadow: 0px 0px 6px #333;
}

/* Estilos de la sección de presentación */

.introduction-section {
  align-items: center;
  background-image: url(../images/feathers.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.introduction-text-container {
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
}

.introduction-phrase {
  color: #1d1d1d;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 20px;
}

.introduction-description {
  color: #1d1d1d;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 60px;
}

.cta {
  background-color: #1006ff;
  border-radius: 100px;
  color: #fff;
  letter-spacing: 1px;
  padding: 16px 48px;
  text-decoration: none;
}

/* CTA en hover */

.cta:hover {
  background-color: #3830ff;
}

/* CTA en focus */

.cta:focus {
  background-color: #0b03d8;
  box-shadow: 0px 0px 6px #1006ff;
}

/* Estilos del ícono */

.far.fa-arrow-alt-circle-down {
  color: #1d1d1d;
  font-size: 36px;
  padding: 20px 0;
}

/* Estilos de la sección quiénes somos */

.about-section {
  align-items: center;
  background-color: #f3f7f8;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.about-section-element-wrapping {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.about-text-container {
  padding-right: 60px;
  width: 50%;
}

.about-image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.about-image-1 {
  max-width: 371px;
  position: relative;
  top: 50px;
  width: 100%;
}

.about-image-2 {
  bottom: 50px;
  left: 100px;
  max-width: 371px;
  position: relative;
  width: 100%;
}

/* Estilos de la sección de productos */

.products-section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.products-section-element-wrapping {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
}

.products-text-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.products-cta {
  border-radius: 100px;
  color: #1d1d1d;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 16px;
  text-decoration: none;
}

/* CTA en hover */

.products-cta:hover {
  color: #1006ff;
}

/* CTA en focus */

.products-cta:focus {
  box-shadow: 0px 0px 6px #1006ff;
}

.product-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.secondary-product-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

/* Estilos de todos los productos */

.product {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  text-decoration: none;
}

.product-name {
  color: #1006ff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.product-price {
  color: #666;
  font-size: 14px;
}

/* Estilos del producto destacado */

.featured-product {
  height: 560px;
  margin: 10px 0;
  width: 50%;
}

/* Estilos de los productos secundarios */

.secondary-product {
  height: 270px;
  margin: 10px;
  width: calc(100% / 2 - (10px * 2));
}

/* Estilos de la sección de "Nippy en números" */

.numbers-section {
  align-items: center;
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px;
  text-align: center;
}

.number-container {
  margin: 20px 10px;
}

.number-heading {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.number {
  font-size: 36px;
}

/* Estilos de la sección de contacto */

.contact-section {
  display: flex;
  flex-wrap: wrap;
}

.image-replacement {
  background-color: #f4f4f4;
  width: 50%;
}

.contact-text-container {
  padding: 160px 80px;
  width: 50%;
}

.contact-form {
  display: flex;
  padding-top: 40px;
}

.form-control {
  border: 1px solid #1d1d1d;
  border-radius: 100px 0 0 100px;
  padding: 16px 32px;
  width: 70%;
}

.submit-button {
  background-color: #1006ff;
  border: 1px solid #1006ff;
  border-radius: 0 100px 100px 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  padding: 16px 32px;
  width: 30%;
}

/* Submit button en hover */

.submit-button:hover {
  background-color: #3830ff;
}

/* Submit button en focus */

.submit-button:focus {
  background-color: #0b03d8;
  box-shadow: 0px 0px 6px #1006ff;
}

/* Estilos de la sección de marcas */

.brands-section {
  align-items: center;
  background-color: #f3f7f8;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.brands-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.logo {
  margin: 20px;
  width: 140px;
}

/* Estilos del footer */

.footer {
  align-items: center;
  background-color: #232323;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.footer-elements-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
  max-width: 1200px;
  width: 100%;
}

.footer-elements-container > * {
  margin: 20px;
  width: 220px;
}

.contact-option-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.contact-option-link {
  color: #fff;
  text-decoration: none;
}

/* Opciones de contacto en hover */

.contact-option-link:hover {
  border-bottom: 1px solid #fff;
}

.social-media-icons-list {
  display: flex;
}

.social-media-item {
  font-size: 18px;
  list-style-type: none;
  margin: 10px;
}

.social-media-link {
  color: #fff;
}

.credits {
  color: #8e8e8e;
}

/* Estilos para tablets y celulares */

/* Se oculta el menú de navegación y la frase introductoria se achica */

@media screen and (max-width: 740px) {
  .menu {
    display: none;
  }
  .introduction-phrase {
    font-size: 60px;
  }
}

/* Los elementos de la sección de quiénes somos pasan a ocupar todo el ancho */

@media screen and (max-width: 820px) {
  .about-text-container {
    padding-right: 0;
    width: 100%;
  }
  .about-image-container {
    align-items: flex-start;
    width: 100%;
  }
}

/* Se oculta la segunda imagen de la sección de quiénes somos */

@media screen and (max-width: 510px) {
  .about-image-container {
    align-items: center;
  }
  .about-image-2 {
    display: none;
  }
}

/* Los productos pasan a ocupar todo el ancho */

@media screen and (max-width: 960px) {
  .featured-product {
    width: 100%;
  }
  .secondary-product-container {
    width: 100%;
  }
}

/* Los productos secundarios pasan a ocupar todo el ancho */

@media screen and (max-width: 480px) {
  .secondary-product {
    margin: 0 0 10px 0;
    width: 100%;
  }
}

/* Los elementos de la sección de contacto pasan a ocupar todo el ancho */

@media screen and (max-width: 790px) {
  .image-replacement {
    height: 400px;
    width: 100%;
  }
  .contact-text-container {
    width: 100%;
  }
}

/* Achico el padding en el contenedor de texto de la sección de contacto */

@media screen and (max-width: 480px) {
  .contact-text-container {
    padding: 100px 20px;
  }
}
